<mat-sidenav-container class="login-background-gradient">
  <mat-sidenav-content>
    <h1 class="form-header">Melita</h1>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Email -->
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Username" formControlName="username" type="text" />
      </mat-form-field>
      <mat-error
        class="mat-caption error-color"
        *ngIf="(loginForm.get('username')?.touched || loginForm.get('username')?.dirty) && loginForm.get('username')?.hasError('required')">
        Username is required
      </mat-error>

      <!-- Password -->
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Password" formControlName="password" type="password" />
      </mat-form-field>
      <mat-error class="mat-caption error-color" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-stroked-button class="submit-button submit-button-center">Submit</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
