.login-background-gradient {
  background: rgb(7,94,147);
  background: linear-gradient(90deg, rgba(7,94,147,1) 12%, rgba(43,190,118,1) 100%);
  height: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: .5px;
}

.error-color {
  color: white;
}

.form-header {
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin-top: 19%;
  color: white;
  font-size: 170px;
  margin-bottom: 80px;
  text-transform: lowercase;
  font-weight: bolder;
}

.submit-button-center {
  margin:0 auto;
  display:block;
}

.submit-button {
  border-color: white;
  color: white;
  width: 20%;
}
