<mat-sidenav-container class="login-background-gradient" style="height: 100%;">
  <mat-sidenav-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Email -->
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Email" formControlName="email" type="email" />
      </mat-form-field>
      <mat-error
        class="mat-caption"
        *ngIf="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error
        class="mat-caption"
        *ngIf="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.hasError('email')">
        Email is invalid
      </mat-error>

      <!-- Password -->
      <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Password" formControlName="password" type="password" />
      </mat-form-field>
      <mat-error class="mat-caption" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
