<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" type="email" />
      </mat-form-field>

      <!-- Password -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" formControlName="password" type="password" />
      </mat-form-field>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Submit</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
